.tabs {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid $gris-oscuro;
	a {
		width: 25%;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		padding: 10px 0;
		color: #BABABA;
		font-family: 'Gilroy-Medium';
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		svg {
			height: 1em;
			padding-right: 10px;
			.cls-1 {
				fill: #BABABA;	
			}
		}
		p {
			margin: 0;
		}
	}
	.active {
		background: $individual;
		color: #fff;
		svg {
			.cls-1 {
				fill: #fff;
			}
		}
	}
}
.tabs-container .tabs.typ2 {
    width: 100% !important;
    max-width: none !important;
    display: flex !important;
    flex-wrap: nowrap !important;
    justify-content: flex-start !important;
    align-items: center !important;
	background: #f6f6f6 !important;
	border: 0 !important;
    margin: 20px 0 0 !important;
    border-radius: 10px !important;
    padding: 0 !important;

	a {
		width: auto !important;
        flex: none !important;
		text-transform: capitalize !important;
		font-weight: 400 !important;
		padding: 6px 15px !important;
		display: flex !important;
		align-items: center !important;
		text-align: left !important;
        text-decoration: none !important;
        background: none !important;

		p {
			margin: 0 !important;
			font-family: "Gilroy" !important;
			color: #999 !important;
			font-size: 1.1em !important;
            width: auto !important;
            display: inline-block !important;
		}
	}

	a.active {
		background: none !important;
		p {
			color: $individual !important;
            font-weight: 600 !important;
		}
	}
}
.tab-pane {
    display: none;
}
.tab-pane.active {
	display: block;
}